<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="donate">
  <div class="joe_donate">
      <i class="joe-font joe-icon-shang"></i>
    <th:block th:if="${theme.config.post.donate_group.qrcode_zfb != ''} or ${theme.config.post.donate_group.qrcode_wx != ''}">
  <ol class="joe_donate_list"
      th:classappend="${theme.config.post.donate_group.qrcode_zfb != '' && theme.config.post.donate_group.qrcode_wx != '' ?'two':''}">
    <th:block th:if="${theme.config.post.donate_group.qrcode_zfb} and ${#strings.trim(theme.config.post.donate_group.qrcode_wx) != ''}">
    <li>
      <p>支付宝打赏</p>
      <img th:src="${theme.config.post.donate_group.qrcode_zfb}"  alt="qrcode alipay" onerror="Joe.errorImg(this, 'LoadFailedImg')" /></li>
    </th:block>
    <th:block th:if="${theme.config.post.donate_group.qrcode_wx} and ${#strings.trim(theme.config.post.donate_group.qrcode_wx) != ''}">
    <li>
      <p>微信打赏</p>
      <img th:src="${theme.config.post.donate_group.qrcode_wx}"  alt="qrcode weixin" onerror="Joe.errorImg(this, 'LoadFailedImg')" /></li>
    </th:block>
    <th:block th:if="${theme.config.post.donate_group.qrcode_qq} and ${#strings.trim(theme.config.post.donate_group.qrcode_qq) != ''}">
    <li>
      <p>QQ打赏</p>
      <img th:src="${theme.config.post.donate_group.qrcode_qq}"  alt="qrcode qq" onerror="Joe.errorImg(this, 'LoadFailedImg')"/></li>
    </th:block>
</ol>
</th:block>
</div>
</th:block>
</html>